<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="MASTER_IP" value="127.0.0.1"/>
    <add key ="MASTER_PORT" value="8086"/>
    <add key="SLEEP_TIME" value="2"/>
    <add key="TASK" value="BT,API-1,RD,WT-12,API-2,RD,WT-22,API-3,RD,WT-32,ET,STD"/>
	<!--<add key="TASK" value="BT,API-1,RD,WT-122,FZ-tcp://127.0.0.1:25051/PADI_Worker,API-2,RD,WT-222,API-3,RD,WT-322,REC-tcp://127.0.0.1:25051/PADI_Worker,ET,STD"/>-->
	<!--<add key="TASK" value="BT,FL-tcp://127.0.0.1:25051/PADI_Worker,REC-tcp://127.0.0.1:25051/PADI_Worker,API-1,RD,WT-1222,API-2,RD,WT-2222,API-3,RD,WT-3222,ET,STD"/>-->
  </appSettings>
  <log4net>
    <appender name="ApplicationRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs_C\\logfile"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyy_MM_dd.log"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="1024KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %m%n"/>
      </layout>
    </appender>
    <logger name="LogApplicationLogs">
      <level value="INFO"/>
      <appender-ref ref="ApplicationRollingFileAppender"/>
    </logger>
  </log4net>
</configuration>